<%= div_for seat do %>
<table>
   <tr> 
	<td><strong>Location: </strong> <%= seat.location %></td>	<td><strong>User: </strong> <%= seat.user_id %></td>
    <td>
	<td>
	<td>
	<td>
	<span class='actions'>
      <td><%= link_to "Edit", edit_seat_path(seat), :remote => true %></td>
      <td><%= link_to "Delete", seat, :confirm => "Are you sure?",:method => :delete, :remote => true %></td>
    </span> 
	</td>
   </tr>
</table>

<% end %>
